
body {
    font-size 10pt;
    font-family: Avenir Next, Arial, Helvetica;
    color: black;
    
 }
 
  h1 {
    font-size: 14pt; 
    font-family: Avenir Next, Arial, Helvetica;
    color: red;   
    }
