
body,div {
    font-size 10pt;
    font-family: Avenir Next, Arial, Helvetica;
    color: black;
    
 }
 
  h1 {
    font-size: 14pt; 
    font-family: Avenir Next, Arial, Helvetica;
    color: red;   
  }
  
  h2 {
    font-size: 12pt; 
    font-family: Avenir Next, Arial, Helvetica;
    color: red;   
  }

  h3 {
    font-size: 11pt; 
    font-family: Avenir Next, Arial, Helvetica;
    color: red;   
  }